In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv(r"C:\Users\GS0864\OneDrive\Desktop\for_vs_code\DOMINOS\step_1_xl_to_csv\pizza_sales.csv")

In [3]:
sales.head(15)

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01 00:00:00,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01 00:00:00,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01 00:00:00,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01 00:00:00,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01 00:00:00,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
5,6,2,thai_ckn_l,1,2015-01-01 00:00:00,11:57:40,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha...",The Thai Chicken Pizza
6,7,3,ital_supr_m,1,2015-01-01 00:00:00,12:12:28,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
7,8,3,prsc_argla_l,1,2015-01-01 00:00:00,12:12:28,20.75,20.75,L,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella...",The Prosciutto and Arugula Pizza
8,9,4,ital_supr_m,1,2015-01-01 00:00:00,12:16:31,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
9,10,5,ital_supr_m,1,2015-01-01 00:00:00,12:21:30,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
10,11,6,bbq_ckn_s,1,2015-01-01 00:00:00,12:29:36,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
11,12,6,the_greek_s,1,2015-01-01 00:00:00,12:29:36,12.00,12.00,S,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",The Greek Pizza
12,13,7,spinach_supr_s,1,2015-01-01 00:00:00,12:50:37,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",The Spinach Supreme Pizza
13,14,8,spinach_supr_s,1,2015-01-01 00:00:00,12:51:37,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",The Spinach Supreme Pizza
14,15,9,classic_dlx_s,1,2015-01-01 00:00:00,12:52:01,12.00,12.00,S,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza

In [4]:
sales.shape

(48620, 12)

In [5]:
sales.isnull().sum()

pizza_id              0
order_id              0
pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           7
pizza_size            0
pizza_category       23
pizza_ingredients    13
pizza_name            7
dtype: int64

In [6]:
sales.columns

Index(['pizza_id', 'order_id', 'pizza_name_id', 'quantity', 'order_date',
       'order_time', 'unit_price', 'total_price', 'pizza_size',
       'pizza_category', 'pizza_ingredients', 'pizza_name'],
      dtype='object')

In [7]:
sales['pizza_name_id'].mode(0)

0    big_meat_s
Name: pizza_name_id, dtype: object

In [8]:
#missing values

# Step 1: rows where 'pizza_name_id' is null
null_rows = sales['pizza_name_id'].isnull()

In [9]:
sales.loc[null_rows, 'pizza_name_id']

36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
309    NaN
310    NaN
311    NaN
312    NaN
313    NaN
415    NaN
416    NaN
417    NaN
418    NaN
419    NaN
Name: pizza_name_id, dtype: object

In [10]:

# Step 2: Only fill the NaN values, keeping other values intact
sales.loc[null_rows, 'pizza_name_id'] = sales.groupby(['pizza_name', 'pizza_category', 'pizza_size'])['pizza_name_id'].transform(lambda x: x.ffill().bfill())[null_rows]

In [11]:
# Check if the NaN values are filled correctly
sales['pizza_name_id'].isnull().sum()

np.int64(0)

In [12]:
id = [36,37,38,39,40,41,309,310,311,312,313,415,416,417,418,419]

sales.loc[id]

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
36,37,15,five_cheese_l,1,2015-01-01 00:00:00,13:33:00,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
37,38,15,soppressata_l,1,2015-01-01 00:00:00,13:33:00,20.75,20.75,L,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella...",The Soppressata Pizza
38,39,15,the_greek_s,1,2015-01-01 00:00:00,13:33:00,12.00,12.00,S,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",The Greek Pizza
39,40,16,four_cheese_l,1,2015-01-01 00:00:00,13:34:07,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
40,41,16,napolitana_s,1,2015-01-01 00:00:00,13:34:07,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
41,42,16,thai_ckn_l,1,2015-01-01 00:00:00,13:34:07,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha...",The Thai Chicken Pizza
309,310,131,green_garden_s,1,2015-02-01 00:00:00,21:33:10,12.00,12.00,S,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe...",The Green Garden Pizza
310,311,131,spinach_supr_s,1,2015-02-01 00:00:00,21:33:10,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",The Spinach Supreme Pizza
311,312,132,pepperoni_s,1,2015-02-01 00:00:00,21:42:45,9.75,9.75,S,Classic,"Mozzarella Cheese, Pepperoni",The Pepperoni Pizza
312,313,133,bbq_ckn_l,1,2015-02-01 00:00:00,22:00:17,20.75,20.75,L,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
313,314,133,hawaiian_l,1,2015-02-01 00:00:00,22:00:17,16.50,16.50,L,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
415,416,175,ital_supr_l,1,2015-03-01 00:00:00,17:50:51,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
416,417,176,cali_ckn_l,1,2015-03-01 00:00:00,17:51:57,20.75,20.75,L,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",The California Chicken Pizza
417,418,176,peppr_salami_m,1,2015-03-01 00:00:00,17:51:57,16.50,16.50,M,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ...",The Pepper Salami Pizza
418,419,177,napolitana_s,1,2015-03-01 00:00:00,17:54:36,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
419,420,177,thai_ckn_l,1,2015-03-01 00:00:00,17:54:36,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha...",The Thai Chicken Pizza

In [13]:
sales.isnull().sum()

pizza_id              0
order_id              0
pizza_name_id         0
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           7
pizza_size            0
pizza_category       23
pizza_ingredients    13
pizza_name            7
dtype: int64

In [14]:
sales.loc[sales["total_price"].isnull()]

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
781,782,341,bbq_ckn_m,1,2015-06-01 00:00:00,15:35:47,16.75,NaN,M,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
782,783,341,pepperoni_s,1,2015-06-01 00:00:00,15:35:47,9.75,NaN,S,Classic,"Mozzarella Cheese, Pepperoni",The Pepperoni Pizza
783,784,342,sicilian_l,1,2015-06-01 00:00:00,15:44:12,20.25,NaN,L,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives...",The Sicilian Pizza
784,785,342,southw_ckn_l,1,2015-06-01 00:00:00,15:44:12,20.75,NaN,L,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja...",The Southwest Chicken Pizza
785,786,343,five_cheese_l,1,2015-06-01 00:00:00,15:45:37,18.50,NaN,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
786,787,343,four_cheese_m,1,2015-06-01 00:00:00,15:45:37,14.75,NaN,M,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
787,788,344,ital_cpcllo_m,1,2015-06-01 00:00:00,16:01:11,16.00,NaN,M,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,...",The Italian Capocollo Pizza

In [15]:
filtered_data = sales[sales["quantity"] == 4]
filtered_data

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
11976,11977,5264,big_meat_s,4,30-03-2015,13:24:35,12.00,48.0,S,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau...",The Big Meat Pizza
18875,18876,8286,big_meat_s,4,19-05-2015,12:42:46,12.00,48.0,S,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau...",The Big Meat Pizza
35496,35497,15674,cali_ckn_l,4,19-09-2015,14:16:35,20.75,83.0,L,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",The California Chicken Pizza

In [16]:
null_rows = sales["total_price"].isnull()

In [17]:
sales.loc[null_rows, 'total_price']

781   NaN
782   NaN
783   NaN
784   NaN
785   NaN
786   NaN
787   NaN
Name: total_price, dtype: float64

In [18]:
sales.loc[null_rows, 'total_price'] = sales.loc[null_rows, 'unit_price'] * sales.loc[null_rows, 'quantity']

In [19]:
sales["total_price"].isnull().mean()

np.float64(0.0)

In [20]:
sales.isnull().mean() * 100

pizza_id             0.000000
order_id             0.000000
pizza_name_id        0.000000
quantity             0.000000
order_date           0.000000
order_time           0.000000
unit_price           0.000000
total_price          0.000000
pizza_size           0.000000
pizza_category       0.047306
pizza_ingredients    0.026738
pizza_name           0.014397
dtype: float64

In [21]:
sales.loc[sales["pizza_category"].isnull()]

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
426,427,181,mexicana_l,1,2015-03-01 00:00:00,18:49:32,20.25,20.25,L,NaN,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
427,428,182,brie_carre_s,1,2015-03-01 00:00:00,18:50:10,23.65,23.65,S,NaN,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",The Brie Carre Pizza
428,429,182,peppr_salami_l,1,2015-03-01 00:00:00,18:50:10,20.75,20.75,L,NaN,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ...",The Pepper Salami Pizza
429,430,183,napolitana_m,1,2015-03-01 00:00:00,18:54:55,16.00,16.00,M,NaN,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
430,431,183,spin_pesto_l,1,2015-03-01 00:00:00,18:54:55,20.75,20.75,L,NaN,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat...",The Spinach Pesto Pizza
431,432,183,spin_pesto_s,1,2015-03-01 00:00:00,18:54:55,12.50,12.50,S,NaN,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat...",The Spinach Pesto Pizza
432,433,184,hawaiian_l,1,2015-03-01 00:00:00,18:59:05,16.50,16.50,L,NaN,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
433,434,185,sicilian_m,1,2015-03-01 00:00:00,19:08:33,16.25,16.25,M,NaN,"Coarse Sicilian Salami, Tomatoes, Green Olives...",The Sicilian Pizza
434,435,185,spin_pesto_s,1,2015-03-01 00:00:00,19:08:33,12.50,12.50,S,NaN,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat...",The Spinach Pesto Pizza
435,436,186,mexicana_l,1,2015-03-01 00:00:00,19:36:00,20.25,20.25,L,NaN,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
486,487,207,spicy_ital_l,1,2015-04-01 00:00:00,12:03:58,20.75,20.75,L,NaN,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ...",The Spicy Italian Pizza
487,488,208,bbq_ckn_l,1,2015-04-01 00:00:00,12:12:05,20.75,20.75,L,NaN,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
488,489,208,bbq_ckn_s,1,2015-04-01 00:00:00,12:12:05,12.75,12.75,S,NaN,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
489,490,208,ckn_alfredo_m,1,2015-04-01 00:00:00,12:12:05,16.75,16.75,M,NaN,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
490,491,208,pepperoni_m,1,2015-04-01 00:00:00,12:12:05,12.50,12.50,M,NaN,"Mozzarella Cheese, Pepperoni",The Pepperoni Pizza
491,492,208,the_greek_m,1,2015-04-01 00:00:00,12:12:05,16.00,16.00,M,NaN,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",The Greek Pizza
511,512,219,spinach_fet_m,1,2015-04-01 00:00:00,14:42:01,16.00,16.00,M,NaN,"Spinach, Mushrooms, Red Onions, Feta Cheese, G...",The Spinach and Feta Pizza
512,513,220,hawaiian_s,1,2015-04-01 00:00:00,15:31:59,10.50,10.50,S,NaN,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
513,514,220,ital_cpcllo_s,1,2015-04-01 00:00:00,15:31:59,12.00,12.00,S,NaN,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,...",The Italian Capocollo Pizza
514,515,220,napolitana_l,1,2015-04-01 00:00:00,15:31:59,20.50,20.50,L,NaN,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
515,516,220,spicy_ital_l,1,2015-04-01 00:00:00,15:31:59,20.75,20.75,L,NaN,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ...",The Spicy Italian Pizza
516,517,221,five_cheese_l,1,2015-04-01 00:00:00,15:33:18,18.50,18.50,L,NaN,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
517,518,221,prsc_argla_m,1,2015-04-01 00:00:00,15:33:18,16.50,16.50,M,NaN,"Prosciutto di San Daniele, Arugula, Mozzarella...",The Prosciutto and Arugula Pizza

In [22]:
# Reset index after grouping to create a DataFrame
grouped_df = sales.groupby(['pizza_name', 'pizza_size'])['pizza_category'].first().reset_index()

# Display the DataFrame
grouped_df

                           pizza_name pizza_size pizza_category
0          The Barbecue Chicken Pizza          L        Chicken
1          The Barbecue Chicken Pizza          M        Chicken
2          The Barbecue Chicken Pizza          S        Chicken
3                  The Big Meat Pizza          S        Classic
4                The Brie Carre Pizza          S        Supreme
..                                ...        ...            ...
86             The Thai Chicken Pizza          M        Chicken
87             The Thai Chicken Pizza          S        Chicken
88  The Vegetables + Vegetables Pizza          L         Veggie
89  The Vegetables + Vegetables Pizza          M         Veggie
90  The Vegetables + Vegetables Pizza          S         Veggie

[91 rows x 3 columns]

In [23]:
null_rows = sales["pizza_category"].isnull()

In [24]:
sales.loc[null_rows, 'pizza_category']

426    NaN
427    NaN
428    NaN
429    NaN
430    NaN
431    NaN
432    NaN
433    NaN
434    NaN
435    NaN
486    NaN
487    NaN
488    NaN
489    NaN
490    NaN
491    NaN
511    NaN
512    NaN
513    NaN
514    NaN
515    NaN
516    NaN
517    NaN
Name: pizza_category, dtype: object

In [25]:
sales.loc[null_rows, "pizza_category"] = sales.groupby(['pizza_name', 'pizza_size'])['pizza_category'].transform(lambda x: x.ffill().bfill())[null_rows]

In [26]:
sales["pizza_category"].isnull().mean()

np.float64(0.0)

In [27]:
sales.loc[sales["pizza_ingredients"].isnull()]

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
580,581,254,five_cheese_l,1,2015-04-01 00:00:00,22:22:13,18.50,18.50,L,Veggie,NaN,The Five Cheese Pizza
581,582,255,five_cheese_l,1,2015-05-01 00:00:00,11:23:35,18.50,18.50,L,Veggie,NaN,The Five Cheese Pizza
582,583,255,green_garden_m,1,2015-05-01 00:00:00,11:23:35,16.00,16.00,M,Veggie,NaN,The Green Garden Pizza
583,584,255,hawaiian_l,1,2015-05-01 00:00:00,11:23:35,16.50,16.50,L,Classic,NaN,The Hawaiian Pizza
584,585,255,spinach_fet_m,1,2015-05-01 00:00:00,11:23:35,16.00,16.00,M,Veggie,NaN,The Spinach and Feta Pizza
585,586,256,pep_msh_pep_l,1,2015-05-01 00:00:00,11:56:06,17.50,17.50,L,Classic,NaN,"The Pepperoni, Mushroom, and Peppers Pizza"
586,587,257,cali_ckn_l,1,2015-05-01 00:00:00,11:59:04,20.75,20.75,L,Chicken,NaN,The California Chicken Pizza
630,631,277,four_cheese_m,1,2015-05-01 00:00:00,15:41:50,14.75,14.75,M,Veggie,NaN,The Four Cheese Pizza
631,632,278,ital_veggie_m,1,2015-05-01 00:00:00,15:49:21,16.75,16.75,M,Veggie,NaN,The Italian Vegetables Pizza
632,633,278,southw_ckn_l,1,2015-05-01 00:00:00,15:49:21,20.75,20.75,L,Chicken,NaN,The Southwest Chicken Pizza
633,634,279,cali_ckn_m,1,2015-05-01 00:00:00,16:07:03,16.75,16.75,M,Chicken,NaN,The California Chicken Pizza
634,635,279,ckn_alfredo_m,1,2015-05-01 00:00:00,16:07:03,16.75,16.75,M,Chicken,NaN,The Chicken Alfredo Pizza
635,636,280,prsc_argla_m,1,2015-05-01 00:00:00,16:20:23,16.50,16.50,M,Supreme,NaN,The Prosciutto and Arugula Pizza

In [28]:
null_rows = sales["pizza_ingredients"].isnull()

In [29]:
sales.loc[null_rows, "pizza_ingredients"]

580    NaN
581    NaN
582    NaN
583    NaN
584    NaN
585    NaN
586    NaN
630    NaN
631    NaN
632    NaN
633    NaN
634    NaN
635    NaN
Name: pizza_ingredients, dtype: object

In [30]:
sales.loc[null_rows, "pizza_ingredients"] = sales.groupby(['pizza_name', 'pizza_category', 'pizza_size'])['pizza_ingredients'].transform(lambda x: x.ffill().bfill())[null_rows]

In [31]:
sales["pizza_ingredients"].isnull().mean()

np.float64(0.0)

In [32]:
sales.loc[[586]]

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
586,587,257,cali_ckn_l,1,2015-05-01 00:00:00,11:59:04,20.75,20.75,L,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",The California Chicken Pizza

In [33]:
sales.isnull().mean()

pizza_id             0.000000
order_id             0.000000
pizza_name_id        0.000000
quantity             0.000000
order_date           0.000000
order_time           0.000000
unit_price           0.000000
total_price          0.000000
pizza_size           0.000000
pizza_category       0.000000
pizza_ingredients    0.000000
pizza_name           0.000144
dtype: float64

In [34]:
sales["pizza_name"].isnull().sum()

np.int64(7)

In [35]:
sales.loc[sales["pizza_name"].isnull()]

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
688,689,303,pepperoni_s,1,2015-05-01 00:00:00,20:02:51,9.75,9.75,S,Classic,"Mozzarella Cheese, Pepperoni",NaN
689,690,304,hawaiian_s,1,2015-05-01 00:00:00,20:07:58,10.50,10.50,S,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",NaN
690,691,304,mexicana_l,1,2015-05-01 00:00:00,20:07:58,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",NaN
691,692,305,pepperoni_l,1,2015-05-01 00:00:00,20:35:40,15.25,15.25,L,Classic,"Mozzarella Cheese, Pepperoni",NaN
692,693,305,sicilian_s,1,2015-05-01 00:00:00,20:35:40,12.25,12.25,S,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives...",NaN
693,694,305,spicy_ital_m,1,2015-05-01 00:00:00,20:35:40,16.50,16.50,M,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ...",NaN
694,695,306,big_meat_s,1,2015-05-01 00:00:00,20:37:40,12.00,12.00,S,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau...",NaN

In [36]:
null_rows = sales["pizza_name"].isnull()

sales.loc[null_rows, "pizza_name"]

688    NaN
689    NaN
690    NaN
691    NaN
692    NaN
693    NaN
694    NaN
Name: pizza_name, dtype: object

In [37]:
sales.loc[null_rows, "pizza_name"] = sales.groupby(["pizza_category", "pizza_name_id"])["pizza_name"].transform(lambda x : x.ffill().bfill())[null_rows]

In [38]:
sales["pizza_name"].isnull().mean()

np.float64(0.0)

In [39]:
sales.isnull().mean()* 100

pizza_id             0.0
order_id             0.0
pizza_name_id        0.0
quantity             0.0
order_date           0.0
order_time           0.0
unit_price           0.0
total_price          0.0
pizza_size           0.0
pizza_category       0.0
pizza_ingredients    0.0
pizza_name           0.0
dtype: float64

In [40]:
sales.duplicated().sum()

np.int64(0)

In [41]:
# Saving the cleaned data
sales.to_csv("Pizza_sales.csv")

In [42]:
ingredients_data = pd.read_csv(r"C:\Users\GS0864\OneDrive\Desktop\for_vs_code\DOMINOS\step_1_xl_to_csv\Pizza_ingredients.csv")

In [43]:
ingredients_data.head(20)

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0
5,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecue Sauce,15.0
6,bbq_ckn_m,The Barbecue Chicken Pizza,Barbecued Chicken,30.0
7,bbq_ckn_m,The Barbecue Chicken Pizza,Red Peppers,10.0
8,bbq_ckn_m,The Barbecue Chicken Pizza,Green Peppers,15.0
9,bbq_ckn_m,The Barbecue Chicken Pizza,Tomatoes,20.0
10,bbq_ckn_m,The Barbecue Chicken Pizza,Red Onions,40.0
11,bbq_ckn_m,The Barbecue Chicken Pizza,Barbecue Sauce,10.0
12,bbq_ckn_s,The Barbecue Chicken Pizza,Barbecued Chicken,20.0
13,bbq_ckn_s,The Barbecue Chicken Pizza,Red Peppers,5.0
14,bbq_ckn_s,The Barbecue Chicken Pizza,Green Peppers,20.0
15,bbq_ckn_s,The Barbecue Chicken Pizza,Tomatoes,10.0
16,bbq_ckn_s,The Barbecue Chicken Pizza,Red Onions,20.0
17,bbq_ckn_s,The Barbecue Chicken Pizza,Barbecue Sauce,5.0
18,big_meat_s,The Big Meat Pizza,Bacon,150.0
19,big_meat_s,The Big Meat Pizza,Pepperoni,50.0

In [44]:
ingredients_data.duplicated().sum()

np.int64(0)

In [45]:
ingredients_data.isnull().mean()

pizza_name_id         0.000000
pizza_name            0.000000
pizza_ingredients     0.000000
Items_Qty_In_Grams    0.007722
dtype: float64

In [46]:
null_rows = ingredients_data["Items_Qty_In_Grams"].isnull()
ingredients_data.loc[null_rows, "Items_Qty_In_Grams"]

24    NaN
149   NaN
152   NaN
155   NaN
Name: Items_Qty_In_Grams, dtype: float64

In [47]:
ingredients_data.loc[ingredients_data["Items_Qty_In_Grams"].isnull()]

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
24,brie_carre_s,The Brie Carre Pizza,Caramelized Onions,NaN
149,hawaiian_l,The Hawaiian Pizza,Sliced Ham,NaN
152,hawaiian_m,The Hawaiian Pizza,Sliced Ham,NaN
155,hawaiian_s,The Hawaiian Pizza,Sliced Ham,NaN

In [48]:
ingredients_data[ingredients_data["pizza_name"] == "The Brie Carre Pizza"]

   pizza_name_id            pizza_name   pizza_ingredients  Items_Qty_In_Grams
22  brie_carre_s  The Brie Carre Pizza   Brie Carre Cheese                30.0
23  brie_carre_s  The Brie Carre Pizza          Prosciutto                30.0
24  brie_carre_s  The Brie Carre Pizza  Caramelized Onions                 NaN
25  brie_carre_s  The Brie Carre Pizza               Pears                10.0
26  brie_carre_s  The Brie Carre Pizza               Thyme                 5.0
27  brie_carre_s  The Brie Carre Pizza              Garlic                 5.0

In [49]:
ingredients_data["Items_Qty_In_Grams"].fillna(0, inplace=True)

C:\Users\GS0864\AppData\Local\Temp\ipykernel_17612\2132361267.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ingredients_data["Items_Qty_In_Grams"].fillna(0, inplace=True)

In [50]:
ingredients_data.isnull().mean()

pizza_name_id         0.0
pizza_name            0.0
pizza_ingredients     0.0
Items_Qty_In_Grams    0.0
dtype: float64

In [51]:
# saving the data

ingredients_data.to_csv("ingredients_data.csv")